.body1 {
    margin-top: 10em;

}

.Main {

    background-color: rgb(252, 252, 252);
    display: flex;
    justify-content: center;
    height: 70%;

}

.button2 {
    display: flex;
    justify-content: center;
    margin-bottom: 10em;
}

.RedError {
    color: crimson;
}